{% extends 'layout.html' %}

{% block head %}
    <title>Articles</title>
{% endblock %}

{% block body %}
	<button><a href="/create/article">Créer un Article</a></button>
	<h1>Mes Articles</h1>
	{% for article in articles %}
	<div>
		<input type="hidden" name="article_id" value="{{article.id}}">
		<h4>{{article.title}}</h4>
		<p>{{article.description}}</p>
		<img src="{{article.image_url}}">
		<!-- <form action="/edit" method="post">
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <button type="submit"><a href="/edit">Editer</a></button>
        </form> -->
		<form action="/delete/article" method="post">
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <button type="submit">Supprimer</button>
        </form>
        <form action="/edit" method="post">
        	<p name="article_id">{{article.id}}</p>
        	<input type="hidden" name="article_id" value="{{ article.id }}">
            <input type="text" name="title" value="{{article.title}}">
            <textarea name="description">{{article.description}}</textarea>
            <input type="url" name="image" value="{{article.image}}">
            <input type="submit" value="Editer">
        </form>
	</div>
	{% endfor %}

{% endblock %}