{% extends 'layout.html' %}

{% block head %}
    <title>Projets</title>
{% endblock %}

{% block body %}
	<button><a href="/projets">Retour vers mes projets</a></button>
	<h1>Nouveau Projet</h1>
	<form action="/create/projet" method="post">
		<div>
			<label>Titre</label>
			<input type="text" name="title">
		</div>
		<div>
			<textarea name="description">Description</textarea>
		</div>
		<div>
			<label>Url image</label>
			<input type="url" name="image">
		</div>
		<div>
			<label>Technology</label>
			<input type="text" name="technology">
		</div>
		<div>
			<label>Url Repo</label>
			<input type="url" name="repo_url">
		</div>
		<div>
			<label>Url Website</label>
			<input type="url" name="website_url">
		</div>
		<!-- <div>
			<input type="hidden" name="category_id">
		</div> -->
		<button type="submit" onclick="popUp()">Publier</button>
	</form>
	<script>
		function popUp() {
			alert("Nouvel article ajouté") 
		}
	</script>
{% endblock %}