{% extends 'layout.html' %}

{% block head %}
    <title>Articles</title>
{% endblock %}

{% block body %}
	<button><a href="/articles">Retour vers mes articles</a></button>
	<h1>Nouvel Article</h1>
	<form action="/create/article" method="post">
		<div>
			<label>Titre</label>
			<input type="text" name="title">
		</div>
		<div>
			<textarea name="description">Description</textarea>
		</div>
		<div>
			<label>Url image</label>
			<input type="url" name="image">
		</div>
		<!-- <div>
			<input type="hidden" name="user_id">
		</div> -->
		<button type="submit" onclick="popUp()">Publier</button>
	</form>
	<script>
		function popUp() {
			alert("Nouvel article ajouté") 
		}
	</script>
{% endblock %}