{% extends 'layout.html' %}

{% block head %}
    <title>Articles</title>
{% endblock %}

{% block body %}
	<button><a href="/articles">Retour vers mes articles</a></button>
	<h1>Editer Article : {{article.title}}</h1>
	<form action="/edit" method="post">
		<p name="article_id">{{article.id}}</p>
		<input type="hidden" name="article_id" value="{{article.id}}">
		<div>
			<label>Titre</label>
			<input type="text" name="title" value="{{article.title}}">
		</div>
		<div>
			<textarea name="description">{{article.description}}</textarea>
		</div>
		<div>
			<label>Url image</label>
			<input type="url" name="image" value="{{article.image}}">
		</div>
		<!-- <div>
			<input type="hidden" name="user_id">
		</div> -->
		<button type="submit" onclick="popUp()">Editer</button>
	</form>
	<script>
		function popUp() {
			alert("Article Update") 
		}
	</script>
{% endblock %}