{% extends 'layout.html' %}

{% block head %}
    <title>Projets</title>
{% endblock %}

{% block body %}
	<button><a href="/create/projet">Créer un Projet</a></button>
	<h1>Mes Projets</h1>
	{% for projet in projets %}
	<div>
		<input type="hidden" name="projet_id" value="{{projet.id}}">
		<h4>{{projet.title}}</h4>
		<p>{{projet.description}}</p>
		<img src="{{projet.image_url}}">
		<p>{{projet.technology}}</p>
		<p>{{projet.repo_url}}</p>
		<p>{{projet.website_url}}</p>
		<!-- <input type="" name="categorie_id"> -->
		<a href="/edit/{{projet.id}}">Editer</a>
		<form action="/delete/projet" method="post">
            <input type="hidden" name="projet_id" value="{{ projet.id }}">
            <button type="submit">Supprimer</button>
        </form>
	</div>
	{% endfor %}

{% endblock %}